<div class="box border">
    <header><span>Thông tin người đăng bài</span></header>
    <div class="post-user">
        <a class="avatar" href="{DNS}/{0}/Member.html">
            <img src="{1}" alt="{2}" title="{2}" />
        </a>
        <div class="info">
            <div class="name">{2}</div>
            <div class="gray-btn ">
                <a href="javascript:void(0);" title="Tổng lượt thích"><span class="icon-hand"></span><span class="label">{3}</span></a>
            </div>
            <div class="gray-btn">
                <a href="javascript:void(0);" title="Tổng lượt bình luận"><span class="icon-cmt"></span><span class="label">{4}</span></a>
            </div>

            <div class="mar-top-5">
                <div class="gray-btn">
                    <a href="javascript:void(0);" title="Tổng lượt xem"><span class="icon-view"></span><span class="label">{5}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>