<script src="{DNS}/Scripts/jQuery.FileUpload/vendor/jquery.ui.widget.js"></script>
<script src="{DNS}/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>

<script>

    $("#btnPost").click(function ()
    {
       
            if ($("#tbxYoutube").val() === "")
            {
                RemoveWarning("w-imgfile");
                AddWarning($("#bar"), "w-imgfile", "Xin vui lòng nhập link Youtube.");
                return;
            }
            else
            {
                RemoveWarning("w-imgfile");
            }
      

        if ($("#tbxTitle").val() === "")
        {
            RemoveWarning("w-title");
            AddWarning($("#tbxTitle"), "w-title", "Xin vui lòng nhập tiêu đề.");
            return;
        }
        else
        {
            RemoveWarning("w-title");

        }
        if ($("#tbxTitle").val().lenght > 120)
        {
            RemoveWarning("w-title-lenght");
            AddWarning($("#tbxTitle"), "w-title-lenght", "Tiêu đề quá dài so với quy định, xin vui lòng nhập dưới 120 ký tự.");
            return;
        }
        else
        {
            RemoveWarning("w-title-lenght");
        }

        var cateID = 1;

        if ($("#chkSad").is(':checked'))
        {
            cateID = 2;
        }
        if ($("#chkFun").is(':checked') && $("#chkSad").is(':checked'))
        {
            cateID = 3;
        }


        var url = Domain + "/MyAjax.AjaxMember.MyAjaxMember.PostVideoNews.ajax";
        $.ajax({
            type: "POST", //Phương thức gửi request là POST hoặc GET
            data: "CateID=" + cateID + "&Image=" + $("#tbxYoutube").val()  + "&Title=" + $("#tbxTitle").val() + "&ResourceLink=" + $("#tbxSource").val(),
            url: url, //Đường dẫn tới nơi xử lý request ajax
            success: function (string)
            {
                var arr_JSON = $.parseJSON(string);

                $.each(arr_JSON, function ()
                {
                    //nếu như biến là kết quả trả về
                    if (this.Parameter == "Result")
                    {
                        //nếu kiểu trả về là success
                        if (this.CurrentTypeResult == "1")
                        {
                            location.href = this.Value;
                        }
                        else
                        {
                            alert(this.Description);
                        }
                    }
                });
            }
        });

    });

    function AddWarning(ctrThis, idWarn, strMessage)
    {
        $(ctrThis).after('<div class="warning" id="' + idWarn + '">' + strMessage + '</div>');
    }
    function RemoveWarning(idWarn)
    {
        $("#" + idWarn).remove();
    }  
  


</script>
<div class="up-image">
    <header>
        Video
    </header>
    <div class="note">
        Nhập các đường link video từ Youtube.
    </div>  
    <div class="title">
        Link Youtube
    </div>
    <div class="input-link ">
        <input type="text" value="" id="tbxYoutube" style="width:96%;" placeholder="VD:https://www.youtube.com/watch?v=CgQq5JtDf7U" />
    </div>
   
    <div class="bar" id="bar"></div>
    <div class="title">
        Thể loại
    </div>
    <div class="input-check">
        <div class="check-item">
            <div class="checkbox">
                <input type="checkbox" value="1" id="chkFun" name="check" checked="checked">
                <label for="chkFun"></label>
            </div>
            <label class="check-name" for="chkFun">
                Vui
            </label>
        </div>
        <div class="check-item">
            <div class="checkbox">
                <input type="checkbox" value="2" id="chkSad" name="check">
                <label for="chkSad"></label>
            </div>
            <label class="check-name" for="chkSad">
                Buồn
            </label>
        </div>
    </div>
    <div class="title">
        Tiêu đề ảnh
        <span class="inline">120 ký tự</span>
    </div>
    <div class="input-title">
        <textarea id="tbxTitle" maxlength="120"></textarea>
    </div>
    <div class="title">
        Nguồn
    </div>
    <div class="input-title">
        <input type="text" value="" id="tbxSource" placeholder="Nhập nguồn gốc file ảnh để tôn trọng quyền tác giả" />
    </div>
    <div class="button">
        <a class="blue-button" id="btnPost" href="javascript:void(0);">Đăng bài</a>
    </div>
</div>
