<div class="header-container">
    <header>
        <div class="wrap-center">
            <a class="logo" href="{DNS}"></a>
            <div class="headbar-items">
                <ul>
                    <li><a class="{0}" href="{DNS}/Moi.html"><span class="label">Mới</span></a></li>
                    <li><a class="{1}" href="{DNS}/Hot.html"><span class="label">Hot</span></a></li>
                    <li><a class="{2}" href="{DNS}/Anh.html"><span class="label">Ảnh</span></a></li>
                    <li><a class="{3}" href="{DNS}/video.html"><span class="label">Video</span></a></li>
                </ul>
            </div>
            <div class="user-function ">
                <a class="link bell notification" href="#"></a>
              {4}
                <a class="upload-file inline"  href="javascript:void(0);">Tải lên</a>
            </div>
            <div class="search-function ">
                <span class="search"><input type="text" /></span>
            </div>
            <div class="popup-menu user hide">
                <ul>
                    <li><a href="{DNS}/Tai-khoan-{5}.html">Thông tin cá nhân</a></li>
                    <li><a href="{DNS}/Cau-hinh-{5}.html">Cấu hình tài khoản</a></li>
                    <li><a href="{DNS}/Dang-xuat.html">Đăng xuất</a></li>
                </ul>
            </div>
            <div class="popup-menu upload hide">
                <ul>
                    <li><a href="javascript:void(0)">Tạo Ảnh</a></li>
                    <li><a href="javascript:void(0);" id="btnUpload-img">Đăng Ảnh</a></li>
                    <li><a href="javascript:void(0);" id="btnUpload-video">Đăng Video</a></li>
                </ul>
            </div>
        </div>
    </header>

</div>
