<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{0}</title>
    <link rel="icon" href="{DNS}/Img/favicon.ico" type="image/x-icon">
    <link rel="image_src" href="{1}" />
    <link rel="publisher" href="{2}" />
    <link rel="canonical" href="{DNS}" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Leuleu,vui vẻ, lêu lêu, fun, lol, fa " />
    <meta name="description" content="Leuleu là góc thư giãn lành mạnh cho giới trẻ" />

    <meta property="og:title" content="{0}" />
    <meta property="og:site_name" content="LeuLeu" />
    <meta property="og:url" content="{2}" />
    <meta property="og:description" content="{3}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{1}" />
    <meta property="fb:app_id" content="976339585715527" />
    <meta property="article:author" content="Nguyễn Chí Linh" />
    <meta property="article:publisher" content="Leuleu.vn" />

    
    <link href="{DNS}/Style/LeuLeu.css" rel="stylesheet" />
    <link href="{DNS}/Style/all.css" rel="stylesheet" />
    <script src="{DNS}/Scripts/jquery-2.1.1.min.js"></script>
    <script src="{DNS}/Scripts/leuleu.js"></script>
    <script src="{DNS}/Scripts/facebox.js"></script>
    <script src="{DNS}/Scripts/facebook.js"></script>
</head>
<body>
    {4}