<script src="{DNS}/Scripts/detail.js"></script>
<div class="container">
    <div class="wrap-center">
        <div class="list-view">
            <article class="detail">
                <header>
                    <div class="info">
                        <a class="title h-blue" href="javascript:void(0)">{0}</a>
                        <div class="control">
                            <div class="fb-like right" style="overflow: hidden !important;" data-href="{1}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                            <div class="fb-share-button right mar-right-5" data-href="{1}" data-layout="button"></div>

                            <div class="gray-btn">
                                <a href="javascript:void(0);"><span class="icon-time"></span><span class="label inline">{2}</span></a>
                            </div>
                            <div class="gray-btn">
                                <a href="javascript:void(0);"><span class="icon-view"></span><span class="label">{3}</span></a>
                            </div>
                            <div class="gray-btn">
                                <a href="javascript:void(0);"><span class="icon-cmt"></span><span class="label"><div class="fb-comments-count" data-href="{1}">0</div></span></a>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="image">
                    <a href="javascript:void(0);"><img src="{4}" /></a>
                </div>
            </article>

            <div class="comment">
                <div class="fb-comments" data-href="{1}" data-width="600" data-numposts="20" data-colorscheme="light"></div>
            </div>
        </div>
        <div class="sidebar">
            <!--Thông tin người đăng-->
            {5}
            <div class="box border">
                <header><span class="name">Thích leuleu.vn trên facebook</span> </header>
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/leuleuvn/1507729909479210" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            </div>
            <div class="box hide">
                <article>
                    <a href="">
                        <span>
                            Khủng bố tại Sydney_australia_ Bác Khủng
                        </span>
                        <img src="http://s1.haiivl.com/data/460_e8e71e51-1b60-44b1-b48d-c0d8b108228a.jpg" />
                    </a>
                </article>
                <article>
                    <a href="">
                        <span>
                            Khủng bố tại Sydney_australia_ Bác Khủng bố tại Sydney_australia_ Bác Khủng
                        </span>
                        <img src="http://s1.haiivl.com/data/460_e8e71e51-1b60-44b1-b48d-c0d8b108228a.jpg" />
                    </a>
                </article>
            </div>
        </div>
    </div>

</div>
