
<div class="container">
    <div class="wrap-center">
        <div class="list-view">
            {0}
        </div>
        <div class="sidebar">
            <div class="box border">
                <header><span class="name">Thích leuleu.vn trên facebook</span> </header>
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/leuleuvn/1507729909479210" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            </div>
            <div class="box hide">
                <article>
                    <a href="">
                        <span>
                            Khủng bố tại Sydney_australia_ Bác Khủng
                        </span>
                        <img src="http://s1.haiivl.com/data/460_e8e71e51-1b60-44b1-b48d-c0d8b108228a.jpg" />
                    </a>
                </article>
                <article>
                    <a href="">
                        <span>
                            Khủng bố tại Sydney_australia_ Bác Khủng bố tại Sydney_australia_ Bác Khủng
                        </span>
                        <img src="http://s1.haiivl.com/data/460_e8e71e51-1b60-44b1-b48d-c0d8b108228a.jpg" />
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>