<article class="list-item">
    <header>
        <a class="avatar" href="{DNS}/Member-{0}.html">
            <img src="{1}" alt="{2}" title="{2}" />
        </a>
        <div class="info">
            <a class="title h-blue" href="{3}">{4}</a>
            <div class="control">
                <div class="fb-like right" style="overflow: hidden !important;" data-href="{3}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                <div class="fb-share-button right mar-right-5" data-href="{3}" data-layout="button"></div>
                <div class="gray-btn">
                    <a href="javascript:void(0);" title="Thời gian đăng bài"><span class="icon-time"></span><span class="label inline">{5}</span></a>
                </div>
                <div class="gray-btn">
                    <a href="javascript:void(0);" title="Lượt xem"><span class="icon-view"></span><span class="label">{6}</span></a>
                </div>
                <div class="gray-btn">
                    <a href="javascript:void(0);" title="Lượt bình luận"><span class="icon-cmt"></span><span class="label"><div class="fb-comments-count" data-href="{3}">0</div></span></a>
                </div>
            </div>
        </div>
    </header>
    <div class="image">
        <a  href="{3}">
            <span class="img-bg" style="background-image:url({7});">
                <span class="play-video"></span>
            </span>
        </a>
    </div>
</article>