<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <appSettings>
    <add key="Domain" value="http://leuleu.vn" />
    <!-- Facebook sign-up: http://developers.facebook.com/setup/ -->
    <add key="facebookAppID" value="976339585715527" />
    <add key="facebookAppSecret" value="9075b7248816bb312a2c844e287ec419" />

    <!--Cấu hình cho upload hình ảnh-->
    <!-- Upload Image config default !-->
    <add key="UI_Thumb" value="false" />
    <add key="UI_GeneralFN" value="false" />
    <add key="UI_Path" value="~/u/img" />
    <add key="UI_Extension" value=".png|.gif|.jpg|.jpeg" />
    <add key="UI_MaxSize" value="10240" />
    <add key="UI_WH_Thumb" value="90x60" />
    <add key="UI_SuffixThumbnailName" value="_thumb" />
    <add key="UI_FixWidthOrHeight" value="0" />
    <add key="UI_CreateFolderByMonth" value="true" />
    <!-- Cấu hình upload Image cho Product!-->
    <add key="Mem_UI_Thumb" value="true" />
    <add key="Mem_UI_GeneralFN" value="true" />
    <add key="Mem_UI_Path" value="~/u/news/" />
    <add key="Mem_UI_MaxSize" value="3000" />
    <add key="Mem_UI_WH_Thumb" value="100x0|300x0" />
    <add key="Mem_UI_SuffixThumbnailName" value="_t_1|_t_2" />
    <add key="Mem_UI_FixWidthOrHeight" value="1" />
    <add key="Mem_UI_CreateFolderByMonth" value="true" />

    <add key="LicenseKey" value="sgWY/fiZiVp3GrjZPP85AqfO8NRukbH/Vc4klC4ZmL4uvSKsa2RtBF7o6P6TjfcJTDYoiSRNUj+/zyNZ304aLA==" />

  </appSettings>
  <connectionStrings>
    <add name="MSSQL_ConnectionKey" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhcb4m8tFeNsTeVm9jKQOEvHqw+5VPnH1Bc6nyqjtaYSVtzXEY0UYpzZwVo+SjK375wXMGeH3sOKYKp8RblVInsdiOLA7BFW3O1cN4D3tCeyCenNlnXZuEFNg3zex5esaNNvduXN8BJZ+SuJWz2tpsEQ==" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600">
          <headerLimits>
            <add header="Content-type" sizeLimit="100" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="MyASHXBase" path="*.html" verb="GET,HEAD,POST,DEBUG" type="MyLib.MyBase.MyWeb.MyASHX" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="AjaxHander" path="*.ajax" verb="GET,HEAD,POST,DEBUG" type="MyAjax.MyAjaxHander" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />

    <!--<httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\,?" />-->
    <customErrors mode="Off" />
  </system.web>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="rule_100" virtualUrl="^~/home.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/home.ashx" ignoreCase="true" />
      <add name="rule_101" virtualUrl="^~/Dang-nhap.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Login.ashx" ignoreCase="true" />
      <add name="rule_102" virtualUrl="^~/Dang-xuat.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Login.ashx?lid=1" ignoreCase="true" />
      <add name="rule_103" virtualUrl="^~/Moi.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/New.ashx" ignoreCase="true" />
      <add name="rule_104" virtualUrl="^~/Hot.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/home.ashx" ignoreCase="true" />
      <add name="rule_105" virtualUrl="^~/Video.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Video.ashx" ignoreCase="true" />
      <add name="rule_106" virtualUrl="^~/Anh.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Anh.ashx" ignoreCase="true" />
      
      <add name="rule_200" virtualUrl="^~/Tai-khoan-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Member.ashx?mid=$1" ignoreCase="true" />
      <add name="rule_201" virtualUrl="^~/Cau-hinh-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Setting.ashx?mid=$1" ignoreCase="true" />
      
      <add name="rule_300" virtualUrl="^~/chi-tiet/(.*)-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Detail.ashx?nid=$2" ignoreCase="true" />
      <add name="rule_301" virtualUrl="^~/moi/(.*)-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Detail.ashx?nid=$2" ignoreCase="true" />
      <add name="rule_302" virtualUrl="^~/video/(.*)-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/page/Detail.ashx?nid=$2" ignoreCase="true" />
      
    </rewrites>
  </urlrewritingnet>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile/Log" />
      <datePattern value="'.'ddMMyyyy.vai" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %thread | %level | %logger | %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="ErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile/Error" />
      <datePattern value="'.'ddMMyyyy.vai" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %thread | %level | %logger  %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ErrorsFileAppender" />
    </root>
  </log4net>
</configuration>