<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Leuleu.vn</title>
    <link rel="icon" href="../Img/favicon.ico" type="image/x-icon">
    <link href="../Style/LeuLeu.css" rel="stylesheet" />
    <link href="../Style/all.css" rel="stylesheet" />
    <script src="../Scripts/jquery-2.1.1.min.js"></script>
    <script src="../Scripts/leuleu.js"></script>

</head>
<body>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id)
        {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=183309365126050&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="header-container">
        <header>
            <div class="wrap-center">
                <a class="logo" href="#"></a>

                <div class="headbar-items">
                    <ul>
                        <li><a class="selected" href="http#"><span class="label">Hot</span></a></li>
                        <li><a class="" href="#"><span class="label">Mới</span></a></li>
                        <li><a class="" href="#"><span class="label">Ảnh</span></a></li>
                        <li><a class="" href="#"><span class="label new">Video</span></a></li>

                        <li><a class="" href="#"><span class="label drop-arrow">Khác<span class="arrow"></span></span></a></li>
                    </ul>
                </div>
                <div class="user-function ">
                    <a class="link bell notification" href="#"><span class="badge">12</span></a>
                    <a class="avatar link drop-arrow" href="#">
                        <img src="../u/22271957_100_1.jpg" /><span class="name inline">Tôi<span class="arrow"></span></span>
                        <!--<a href="#" class="link inline">Đăng nhập</a>-->
                    </a><a class="upload inline" href="#">Tải lên</a>
                </div>
                <div class="search-function ">
                    <span class="search"><input type="text" /></span>
                </div>
                <div class="popup-menu user hide">
                    <ul>
                        <li><a href="javascript:void(0)">Thông tin cá nhân</a></li>
                        <li><a href="#">Cấu hình tài khoản</a></li>
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </div>
                <div class="popup-menu upload hide">
                    <ul>
                        <li><a href="javascript:void(0)">Tạo ảnh</a></li>
                        <li><a href="#">Tải Ảnh/Video</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="section-nav" style="display:none;">
        <div class="wrap-center relative">
            <div class="social">
                <span>Thích leuleu.vn trên facebook</span>
                <div class="fb-like" data-href="https://www.facebook.com/pages/leuleuvn/1507729909479210" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
            <a class="customize drop-arrow" href="#"><span class="arrow"></span></a>
        </div>
    </div>
    <div class="container">
        <div class="wrap-center">
            <div class="list-view">
                <article class="detail">
                    <header>                       
                        <div class="info">
                            <a class="title" href="">Khủng bố tại Sydney_australia_ Bác Khủng</a>
                            <div class="control">
                                <div class="fb-like  right" data-href="https://www.facebook.com/pages/leuleuvn/1507729909479210" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false">
                                </div>
                                <div class="fb-share-button right mar-right-5" data-href="https://www.facebook.com/pages/leuleuvn/15077299094792101" data-layout="button_count"></div>

                                <div class="blue-btn">
                                    <a href="javascript:void(0);"><span class="icon-time"></span><span class="label">3h11p trước</span></a>
                                </div>
                                <div class="blue-btn">
                                    <a href="javascript:void(0);"><span class="icon-view"></span><span class="label">15,000</span></a>
                                </div>
                                <div class="blue-btn">
                                    <a href="javascript:void(0);"><span class="icon-cmt"></span><span class="label"><div class="fb-comments-count" data-href="http://developers.facebook.com/docs/plugins/comments/">0</div></span></span></a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="image">
                        <a href="#"><img src="http://s1.haiivl.com/data/460_e8e71e51-1b60-44b1-b48d-c0d8b108228a.jpg" /></a>

                    </div>
                </article>

                <div class="comment">
                    <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="600" data-numposts="20" data-colorscheme="light"></div>
                </div>
            </div>
            <div class="sidebar">
                <div class="box border">
                    <header><span>Thông tin người đăng bài</span></header>
                    <div class="post-user">
                        <a class="avatar" href="#">
                            <img src="../u/22271957_100_1.jpg" alt="Nguyễn Chí Linh" title="Nguyễn Chí Linh" />
                        </a>
                        <div class="info">
                            <div class="name">Nguyễn Chí Linh</div>
                            <div class="gray-btn ">
                                <a href="javascript:void(0);"><span class="icon-hand"></span><span class="label">15,000</span></a>
                            </div>
                            <div class="gray-btn">
                                <a href="javascript:void(0);"><span class="icon-cmt"></span><span class="label"><div class="fb-comments-count" data-href="http://developers.facebook.com/docs/plugins/comments/">0</div></span></a>
                            </div>
                          
                            <div class="mar-top-5">
                                <div class="gray-btn">
                                    <a href="javascript:void(0);"><span class="icon-view"></span><span class="label">15,000</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="box border">
                    <header><span class="name">Thích leuleu.vn trên facebook</span> </header>
                    <div class="fb-like-box" data-href="https://www.facebook.com/pages/leuleuvn/1507729909479210" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
                <div class="box">
                    <article>
                        <a href="">
                            <span>
                                Khủng bố tại Sydney_australia_ Bác Khủng
                            </span>
                            <img src="http://s1.haiivl.com/data/460_e8e71e51-1b60-44b1-b48d-c0d8b108228a.jpg" />
                        </a>
                    </article>
                    <article>
                        <a href="">
                            <span>
                                Khủng bố tại Sydney_australia_ Bác Khủng bố tại Sydney_australia_ Bác Khủng
                            </span>
                            <img src="http://s1.haiivl.com/data/460_e8e71e51-1b60-44b1-b48d-c0d8b108228a.jpg" />
                        </a>
                    </article>
                </div>
            </div>
        </div>
        
    </div>
    <div class="footer">

    </div>
</body>
</html>
